<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title> Category </title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/dashboard.css?v=1.4.0" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <link href="/assets/css/myStyle.css" rel="stylesheet" />
    <style >
    img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px!important;
          height: 150px;
          border-radius: 50%;
        }

      #add:link, #add:visited {
              background-color: #f44336;
              color: white;
              padding: 14px 25px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              }

              a:hover, a:active {
              background-color: red;
              }

    </style>
</head>

<body>
  <div class="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" style="float: right">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <h1 class="text-center">متجري</h1>
              </a>
          </div>
          <!-- Top Menu Items -->




          <ul class="nav navbar-left top-nav">
              <li>
                  <a href="/webvendor/addproductToCat" class="btn btn-default">
                    اضافه منتج
                  </a>
              </li>

          </ul>
          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">




                  <li>
                      <a href="/webvendor/productvendor">

                          منتجاتى

                          <i class="fa fa-money" aria-hidden="true"></i>
                      </a>
                  </li>
                  <a href="/webvendor/logout">

                          تسجيل خروج
                          <i class="fa fa-money" aria-hidden="true"></i>
                      </a>
                  </li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>










<div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-xs-12">
                          <form class="" action="/webvendor/addproductToCat" method="post" >
                            <div class=" row data-container">
                                <div class="col-xs-offset-3 col-xs-9 product-image">
                                    <div class="file-upload">
                                        <label for="upload" class="file-upload__label"> <img style="width:60%;    border-radius: 50%;" title="choose images" src="/assets/img/upload.jpeg" alt=""> </label>
                                        <input id="upload" class="file-upload__input" type="file" name="imgs" required>
                                    </div>
                                </div>
                                <div id="gamediv">your imgs</div>
                                <textarea name="url" id="myUrl"  hidden></textarea>
                                <p id="demo"></p>
                                <div class="col-xs-6" style="float: right">

                                    <ul class="small-data">

                                        <li>
                                            <div class="small-data-item">
                                                <input class="data-input" name="Aname" placeholder="الاسم بالعربي" required>
                                                <input class="data-input" name="Ename" placeholder="الاسم بالانجليزي" required>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="small-data-item">
                                                <input class="data-input" name="brandArabic" required placeholder="الماركه بالعربي">
                                                <input class="data-input" name="brandEnglish" required placeholder="الماركه بالانجليزي">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="small-data-item">
                                                <input class="data-input" name="price1" required placeholder="السعر قبل الخصم">
                                                <input class="data-input" name="price2" required placeholder="السعر بعد الخصم">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="small-data-item">
                                                <input class="data-input" name="modelnumber" required placeholder="رقم الموديل">

                                            </div>
                                        </li>

                                         <li>

                                            <div>

                                                <input class="data-input" name="specificationArabic" required placeholder="تفاصيل المنتج بالعربي">
                                                <input class="data-input" name="specificationEnglish" required placeholder="تفاصيل المنتج بالانجليزى">
                                            </div>
                                        </li>
                                        <li style="display: block">
                                            <div class="small-data-item">
                                              <label for="">الحاله</label>
                                              <select class="data-input" name="status">
                                                <option value="1">متاحه</option>
                                                <option value="0">غير متاحه</option>

                                              </select>

                                                <input class="data-input" name="quantity" required placeholder="الكميه" style="width: 100%;">
                                                <input class="data-input" name="discount" required placeholder="الخصم" style="width: 100%">


                                                <label for="">امكانيه التوصيل</label>
                                                <select class="data-input" name="freeshipping">
                                                  <option value="1">yes</option>
                                                  <option value="0">no</option>

                                                </select>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="col-xs-6">

                                    <ul class="small-data">
                                        <li>
                                            <div class="small-data-item">
                                                <textarea rows="4" class="desc text-right" name="discriptionArabic" required placeholder="الوصف بالعربي" ></textarea>
                                                <textarea rows="4" class="desc text-right" name="discriptionEnglish" required placeholder="الوصف بالانجليزى"></textarea>

                                            </div>
                                        </li>
                                        <li>

                                            <div>
                                                 <textarea rows="4" class="desc text-right" name="heighlightArabic" required placeholder="AR highlight"></textarea>
                                                <textarea rows="4" class="desc text-right" name="heighlightEnglish" required placeholder="EN highlight"></textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="small-data-item">
                                                <textarea rows="4" class="desc text-right" name="tagsArabic" required placeholder="AR tags"></textarea>
                                                <textarea rows="4" class="desc text-right" name="tagsEnglish" required placeholder="EN tags"></textarea>
                                            </div>
                                        </li>




                                    </ul>

                                </div>
                                <div class="small-data-item">

                                            <select name="catId">
                                                    <option value="0">اختر القسم الرئيسى</option>
                                                    <%cat.forEach(function(cat){ %>
                                                        <option value="<%=cat._id %>"><%=cat.Aname %></option>

                                                    <%});%>
                                            </select>


                                                <select name="offerId">
                                                        <option value="0">اختر العرض</option>
                                                        <%offers.forEach(function(offer){ %>
                                                            <option value="<%=offer._id %>"><%=offer.name %></option>

                                                        <%});%>
                                                </select>

                                        </div>
                                        <div class=" form-group">
                                            <button type="submit" id="submit_btn" class="add form-control">اضافه القسم</button>
                                        </div>


                            </div>

                          </form>
                        </div>

                    </div>
                </div>
            </div>
            <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
            <script src="/assets/js/addproduct.js"></script>
<%include ../layout/footer.ejs%>
