
<%include ../layout/header.ejs%>

<div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="content table-responsive table-full-width">
                                  <table class="table table-hover">
                                    <thead>
                                      <tr>
                                        <th>الاقسام</th>
                             
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <%data.forEach(function(category){ %>
                                      <tr>
                             
                                        <td>
                                          <button   class="button button2" type="button" name="button" value="<%=category._id%>"><%=category.Aname%></button>
                                          <!-- <ul id="myList">
                                           
                                           
                                         </ul> -->
                                        </td>
                                        <td>
                                          <a href=""> تعديل </a>
                                          <a href=""> حذف </a>
                                        </td>
                                      </tr>
                                      <%});%>
                             
                                    </tbody>
                                  </table>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



    </div>
    <script type="text/javascript">
 
      $(document).ready(function(){
       
        $('body').on('click', 'button',function(){
          console.log("button");
          var x = $(this).val();
          console.log(x);
          var btn = $(this);
          
          $.ajax({
            type:"GET",
            url:"https://testmatgary.herokuapp.com/category/subcategories/"+x,
            dataType:"json",
            success:function(data){
              if(data["data"].length>0){
                var $ul= $('<ul/>', { class: 'myul' })
                for(var i=0;i<data["data"].length;i++){
                  var test = {
                    "value": data["data"][i]._id ,
                    class:"button button2",
                     type:"button",
                     name:"button"
                        
                      };
                      var $butt = $("<button>", test);
                      $butt.html(data["data"][i].Aname);
                      
                      $li= $('<li/>', { class: 'myli' });
                      $aedit= $('<a/>', { class: 'myaedit' });
                      $aedit.html(" تعديل " );
                      $adelete= $('<a/>', { class: 'myadelete' });
                      $adelete.html("حذف ");
                      $li.append($aedit);
                      $li.append($adelete);
                      $li.append($butt);

                      $ul.append($li);
                      btn.after($ul);
                      // $ul.append($butt)
                      // btn.after($ul);

                    // var node = document.createElement("button");
                    // var textnode = document.createTextNode(data["data"][i].Aname);
                    // node.appendChild(textnode);
                    
                    // btn.after( node );


                   
                    btn.attr("disabled", true);
                }
                  //alert(data["data"][0].Ename);
              }else{
                btn.attr("disabled", true);
              }
            }


          });
        })
      

      });
    </script>
    <%include ../layout/footer.ejs%>
