<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/dashboard.css?v=1.4.0" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>

  </head>
  <body>

    <table class="table table-hover">
       <thead>
         <tr>
           <th>الاقسام</th>

         </tr>
       </thead>
       <tbody>
         <%data.forEach(function(category){ %>
         <tr>

           <td>
             <button  class="my1" type="button" name="button" value="<%=category._id%>"><%=category.Aname%></button>
             <!-- <ul id="myList">


            </ul> -->
           </td>
           <td>
             <a href="">edit</a>
             <a href="">delete</a>
           </td>
         </tr>
         <%});%>

       </tbody>
     </table>
     <script type="text/javascript">

      $(document).ready(function(){

        $('body').on('click', 'button',function(){
          console.log("button");
          var x = $(this).val();
          console.log(x);
          var btn = $(this);

          $.ajax({
            type:"GET",
            url:"http://localhost:8090/category/subcategories/"+x,
            dataType:"json",
            success:function(data){
              if(data["data"].length>0){
                var $ul= $('<ul/>', { class: 'myul' })
                for(var i=0;i<data["data"].length;i++){
                  var test = {
                    "value": data["data"][i]._id ,
                    class:"my1",
                     type:"button",
                     name:"button",
                        css: {

                          "color": "Green"
                        }
                      };
                      var $butt = $("<button>", test);
                      $butt.html(data["data"][i].Aname);

                      $li= $('<li/>', { class: 'myli' });
                      $aedit= $('<a/>', { class: 'myaedit' });
                      $aedit.html("edit");
                      $adelete= $('<a/>', { class: 'myadelete' });
                      $adelete.html("delete");
                      $li.append($aedit);
                      $li.append($adelete);
                      $li.append($butt);

                      $ul.append($li);
                      btn.after($ul);
                      // $ul.append($butt)
                      // btn.after($ul);

                    // var node = document.createElement("button");
                    // var textnode = document.createTextNode(data["data"][i].Aname);
                    // node.appendChild(textnode);

                    // btn.after( node );



                    btn.attr("disabled", true);
                }
                  //alert(data["data"][0].Ename);
              }else{
                btn.attr("disabled", true);
              }
            }


          });
        })


      });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
  </body>
</html>
