<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
<title>Wokiee - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Wokiee - Responsive HTML5 Template">
	<meta name="author" content="wokiee">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/user-static/css/theme.css">
</head>
<body>
<div id="loader-wrapper">
	<div id="loader">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<div class="text-right">
				<button type="button" class="btn btn-light text-bold" style="background-color: #e7e7e7; color: black;">العربية</button>

			</div>
			<div class="text-center">
				<a class="tt-logo tt-logo-alignment m-4" href="index.html"><img src="/user-static/images/custom/logo.png" alt=""></a>
				<p class="mb-3">
					Welcome back!
				</p>
				<h3>Sign in to your account</h3>
				<p class="mb-3">
					Don’t have an account? <a href="create-account.html" class="log-in">Sign up</a>
				</p>
			</div>
			<div class="tt-login-form">
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6">
						<div class="tt-item">
							<div class="form-default">
								<form id="contactform Myform" action="/wauthclient/login" method="post" novalidate="novalidate">
									<div class="form-group">
										<input type="text" name="email" class="form-control" id="loginInputEmail" placeholder="E-mail">
									</div>
									<div class="form-group">
										<input type="password" name="password" class="form-control" id="loginInputPassword" placeholder="Password">
									</div>
									<div class="form-group">
										<a href="" class="log-in d-block text-center mb-2">Forgot your password</a>
										<button class="btn btn-block" type="submit">SIGN IN</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/user-static/external/jquery/jquery.min.js"></script>
<script src="/user-static/external/bootstrap/js/bootstrap.min.js"></script>
<script src="/user-static/external/panelmenu/panelmenu.js"></script>
<script src="/user-static/external/slick/slick.min.js"></script>
<script src="/user-static/external/lazyLoad/lazyload.min.js"></script>
<script src="/user-static/js/main.js"></script>
<!-- form validation and sending to mail -->
<script src="/user-static/external/form/jquery.form.js"></script>
<script src="/user-static/external/form/jquery.validate.min.js"></script>
<script src="/user-static/external/form/jquery.form-init.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
