</div>
<script>
    var x = document.getElementsByClassName('dot');
    for (let a = 0; a < x.length; a++) {
        document.getElementsByClassName('dot')[a].addEventListener('click', function show() {
            document.getElementsByClassName('little')[a].classList.toggle('little-v');
        });
    }

</script>
<script>
//        $(document).ready(function() {
//                    $(".fa-chevron-down").click(function() {
//                            $("tbody tr").after(" <p>hello</p> ");
//                            });
//                    });
</script>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>




</html>
